.iframe-container {
  margin: 0 auto !important;

  .embedded-iframe {

      iframe {
        width: 100%;
        height: 650px;
      }
  }
}

.fixed-sidebar-section {
  .sidebar-inner {
    height: calc(100vh - 80px);

    .iframe-container {
      height: 100%;
      width: 100%;

      .embedded-iframe {
        height: 100%;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}