.iframe-container {
  margin: 30px auto !important;

  .embedded-iframe {

      iframe {
        width: 100%;
        height: 650px;
        display: block;
        pointer-events: none;
        position: relative;
      }
  }

  &.clicked {
    .embedded-iframe {
      iframe {
        pointer-events: auto;
      }
    }
  }
}

.fixed-sidebar-section {
  .sidebar-inner {

    .iframe-container {
      height: calc(100vh - 80px);
      width: 100%;

      .embedded-iframe {
        height: 100%;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}