  /* ----------- Typography -----------*/

.light-palette {

  h1, h2, h3, h4, h5, h6 {
    color: $light-theme-primary;
  }

  a {
    color: $black;

    &:hover {
      color: $light-theme-secondary;
    }

    &:active, &:focus {
      color: $light-theme-highlight;
    }
  }

  a:not([href]):not([tabindex]) {
    color: $black;

    &:hover {
      color: $light-theme-secondary;
    }

    &:active, &:focus {
      color: $light-theme-highlight;
    }
  }

  p {
    a {
      color: $light-theme-primary;
    }
  }


  section.dynamic-section {
    &:nth-of-type(4n + 1) {
      background-color: $white;
      @include bg-flower-light;
    }
  }

  section.dynamic-section {
    &:nth-of-type(4n + 3) {
      background-color: $white;
      @include bg-leaf-light;
    }
  }

  section.dynamic-section {
    &:nth-of-type(4n+2) {
      background-color: $light-theme-primary-light;
    }
  }

  section.dynamic-section {
    &:nth-of-type(4n+4) {
      background-color: $light-theme-primary-light;
    }
  }

  .bg-primary {
    background-color: $light-theme-primary !important;
    color: $white;

    h1, h2, h3, h4, h5, h6, p {
      color: $white;
    }

    .card {
      .card-title, .card-text, .card-body, p, label {
        color: $black;
      }
    }
  }

  .bg-secondary {
    background-color: $light-theme-secondary !important;
  }

  .bg-dark {
    background-color: $black !important;
  }

  .bg-light {
    background-color: $light-gray !important;
  }

  .bg-lighter {
    background-color: $light-gray;
    background-image: url('../../images/background_lines_light.svg');
    background-size: cover;
  }

  .bg-white {
    background-color: $white !important;
  }

  .bg-pink {
    background-color: $pink !important;
  }

  .bg-primary.bg-decorated {
    @include bg-topo-light;
  }

  .bg-light.bg-decorated {
    @include bg-topo-alt-white;
  }


  .bg-illustration {
    position: relative;
    overflow: hidden;

    .image {
      position: absolute;
      height: 80%;
      filter: invert(100%) brightness(1);
      opacity: 0.5;
      top: 20px;
      right: -50%;
      z-index: 0;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .bg-flower {
    @include bg-flower-light;
  }

  .bg-leaf {
    @include bg-leaf-light;
  }

  .text-primary {
    color: $light-theme-primary !important;
  }

  .text-secondary {
    color: $light-theme-secondary !important;
  }

  .text-highlight {
    color: $light-theme-highlight !important;
  }

  .btn-primary {
    background: $light-theme-primary;

    &:hover, &.focus {
      background: $light-theme-secondary;
    }

    &:active  {
      background: $light-theme-highlight;
    }
  }

  .btn-secondary {
    background: $light-theme-secondary;

    &:hover, &.focus {
      background: $light-theme-highlight;
    }

    &:active  {
      background: $light-theme-primary;
    }
  }

  .btn-highlight {
    background: $light-theme-highlight;

    &:hover, &.focus {
      background: $light-theme-secondary;
    }

    &:active  {
      background: $light-theme-primary;
    }
  }

  .breadcrumb-text {
    text-shadow: 0px 0px 30px $light-theme-primary;

    > h1 {
      color: $white;
    }

    span {
      color: $theme-primary-light;
    }
  }

  .page-header {
    .page-header-image {
      .image-outline {
        border: 2px solid $light-theme-primary-light;
      }
    }
  }
}


