  /* ----------- Typography -----------*/

.light-palette {

  h1, h2, h3, h4, h5, h6 {
    color: $light-theme-primary;
  }

  a {
    color: $black;

    &:hover {
      color: $light-theme-secondary;
    }

    &:active, &:focus {
      color: $light-theme-highlight;
    }
  }

  a:not([href]):not([tabindex]) {
    color: $black;

    &:hover {
      color: $light-theme-secondary;
    }

    &:active, &:focus {
      color: $light-theme-highlight;
    }
  }

  p {
    a {
      color: $light-theme-primary;
    }
  }


  section.basic-section {
    &:nth-of-type(4n + 1) {
      background-color: $white;
      @include bg-flower-light;
    }
  }

  section.basic-section {
    &:nth-of-type(4n + 3) {
      background-color: $white;
      @include bg-leaf-light;
    }
  }

  section.basic-section {
    &:nth-of-type(4n+2) {
      background-color: $light-theme-primary-light;
    }
  }

  section.basic-section {
    &:nth-of-type(4n+4) {
      background-color: $light-theme-primary-light;
    }
  }

  .bg-primary {
    background-color: $light-theme-primary !important;
    color: $white;

    h1, h2, h3, h4, h5, h6, p {
      color: $white;
    }

    .card {
      .card-title, .card-text, .card-body, p, label {
        color: $black;
      }
    }

    .btn-primary {
      background: $light-theme-highlight;
      color: $white;

      &:hover, &:focus {
        background: $light-theme-secondary;
        color: $white;
      }

      &:active  {
        background: lighten($light-theme-secondary, 5%) !important;
        color: $white;
      }
    }
  }

  .bg-secondary {
    background-color: $light-theme-secondary !important;
  }

  .bg-dark {
    background-color: $black !important;
  }

  .bg-light {
    background-color: $light-gray !important;
  }

  .bg-lighter {
    background-color: transparentize($light-theme-primary, 0.95) !important;
  }

  .bg-white {
    background-color: $white !important;
  }

  .bg-pink {
    background-color: $pink !important;
  }

  .bg-primary.bg-decorated {
    @include bg-topo-light;
  }

  .bg-decorated {
    @include bg-topo-alt-white;
  }

  .bg-light.bg-decorated {
    @include bg-topo-alt-white;
  }


  .bg-illustration {
    position: relative;
    overflow: hidden;

    .image {
      position: absolute;
      height: 80%;
      filter: invert(100%) brightness(1);
      opacity: 0.5;
      top: 20px;
      right: -50%;
      z-index: 0;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .bg-flower {
    @include bg-flower-light;
  }

  .bg-leaf {
    @include bg-leaf-light;
  }

  .text-primary {
    color: $light-theme-primary !important;
  }

  .text-secondary {
    color: $light-theme-secondary !important;
  }

  .text-highlight {
    color: $light-theme-highlight !important;
  }

  .btn-primary {
    background: $light-theme-primary;
    color: $white;

    &:hover, &.focus {
      background: $light-theme-secondary;
      color: $white;
    }

    &:active  {
      background: lighten($light-theme-secondary, 10%) !important;
      color: $white;
    }
  }

  .btn-secondary {
    background: $light-theme-secondary;
    color: $white;

    &:hover, &.focus {
      background: $light-theme-highlight;
      color: $white;
    }

    &:active  {
      background: lighten($light-theme-highlight, 10%) !important;
      color: $white;
    }
  }

  .btn-highlight {
    background: $light-theme-highlight;
    color: $white;

    &:hover, &.focus {
      background: $light-theme-secondary;
      color: $white;
    }

    &:active  {
      background: lighten($light-theme-secondary, 10%) !important;
      color: $white;
    }
  }

  .breadcrumb-text {
    text-shadow: 0px 0px 30px $light-theme-primary;

    > h1 {
      color: $white;
    }

    span {
      color: $light-theme-primary-light;
    }
  }

  .page-header {
    .page-header-image {
      .image-outline {
        border: 2px solid $light-theme-primary-light;
      }
    }
  }

  .image-outline {
    border: 2px solid $light-theme-primary-light;
  }

  .fixed-sidebar-section {
    .sidebar {
      background-color: $light-theme-primary-light;

      small { /*for image captions*/
        color: $black;
      }
    }

    &:nth-of-type(even) {
      .sidebar {
        background-color: $light-theme-primary;

        small { /*for image captions*/
          color: $white;
        }
      }
    }
  }

  #featured-stories {
    .slick-prev:before, .slick-next:before {
      color: $light-theme-primary;
    }
  }
}


