/* ----------- Typography -----------*/

html, body {
  font-family: $body-font;
  font-size: 14px;
  color: $black;
  background: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 600;
}

.title {
  font-weight: 4em;
}

p {
  font-size: 16px;
}

a {
  color: $black;

  &:active {
    background-color: $yellow;
  }
}

.bg-primary {
  background-color: $theme-primary !important;
  color: $white;

  p {
    color: $white;
  }
}

.bg-secondary {
  background-color: $theme-secondary !important;
}

.bg-dark {
  background-color: $black !important;
}

.bg-light {
  background-color: $light-gray !important;
}

.bg-lighter {
  background-color: $lighter-gray !important;
}

.slider-height-sm {
  max-height: 400px;
  display: flex;

  img {
    object-fit: cover;
  }
}

.text-lg {
  font-size: 1.2em;
}

.btn-highlight {
  background: $theme-highlight;

  &:hover {
    background: $red;
  }
}

section.dynamic-section {
  &:nth-of-type(even) {
    background-color: $lighter-gray;
  }
}
