@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Roboto:400,400i,700,700i');

$body-font : 'Roboto', sans-serif;
$header-font: 'Lora', serif;


/*--------------------------- Custom colours ----------------------*/

$pink: #FAE0D6;
$light-green: #B5C3BB;
$yellow: #F5C875;
$dark-green: #4B5F51;
$dark-purple: #423243;


$black: #303539;
$light-gray: #E6ECF3;
$white: #FFFFFF;
$dark-gray: #A2A1A8;


$theme-primary: $dark-green;
$theme-secondary: $light-green;
$theme-highlight: $yellow;


/*--------------------------- background Color variations ----------------------*/


