@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Roboto:400,400i,700,700i');

$body-font : 'Roboto', sans-serif;
$header-font: 'Lora', serif;


/*--------------------------- Custom colours ----------------------*/

$dark-blue: #3c5c78;
$light-blue: #e2eaf2;
$medium-blue: #4d7699;

$dark-green: #29702a;
$light-green: #c3dbbc;

$dark-yellow: #ffac2a;
$light-yellow: #F9F29D;

$dark-purple: #423243;
$light-purple: #cfccd0;

$pink: #f5c7b8;
$green: #29702a;


$black: #303539;
$white: #FFFFFF;

$gray: #4c4e56;
$light-gray: #e2eaf2;
$dark-gray: #A2A1A8;
$lighter-gray: transparentize($light-gray, 0.5);


/* DEFAULT THEME */

$theme-primary: $dark-blue;
$theme-primary-light: $light-green;
$theme-secondary: $dark-green;
$theme-highlight: $dark-yellow;


/* LIGHT THEME */

$light-theme-primary: $dark-green;
$light-theme-primary-light: $light-green;
$light-theme-secondary: $dark-blue;
$light-theme-highlight: $dark-yellow;
$light-theme-bg: $light-green;


/* DARK THEME */

$dark-theme-primary: $dark-purple;
$dark-theme-primary-light: $light-blue;
$dark-theme-secondary: $dark-yellow;
$dark-theme-highlight: $dark-blue;
$dark-theme-bg: transparentize($gray, 0.9);
$dark-theme-bg-alt: transparentize($dark-purple, 0.85);



/*--------------------------- background Color variations ----------------------*/
